pyzmq
six
monotonic==0.4    # A clock who's time is not changed. used for scheduling
croniter

# Documentation
sphinxcontrib-napoleon
Sphinx==1.3.1              # must come after napoleon to get the latest version

# Testing
nose
coverage
testfixtures        # To test that logging exists
